fastapi
uvicorn
python-multipart
openai-whisper
whisperx
ffmpeg-python
streamlit
streamlit-mic-recorder
requests
python-dotenv
openai
noisereduce 
librosa 
soundfile 
numpy
gtts
torch

flask 
requests